.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-image-1 {
  width: 329px;
  height: 186px;
  margin: 73px auto 0;
}

.u-section-1 .u-image-2 {
  width: 330px;
  height: 186px;
  margin: -186px auto 0 26px;
}

.u-section-1 .u-image-3 {
  width: 329px;
  height: 186px;
  margin: -186px 25px 0 786px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 0 auto 0 26px;
  padding: 10px 101px 10px 99px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: -42px auto 0;
  padding: 10px 85px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: -42px 25px 0 auto;
  padding: 10px 79px 10px 78px;
}

.u-section-1 .u-image-4 {
  width: 330px;
  height: 186px;
  margin: 50px 784px 0 26px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 0 auto 60px 26px;
  padding: 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-3 {
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 65px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 610px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-3 {
    margin-left: 391px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 391px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-3 {
    margin-left: 211px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 211px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 416px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -158px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 147px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 11px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 10px;
  }
}