.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 186px;
  margin: 73px auto 0 26px;
}

.u-section-1 .u-image-2 {
  width: 329px;
  height: 186px;
  margin: -186px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 0 auto 0 26px;
  padding: 10px 101px 10px 99px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: -42px auto 60px;
  padding: 10px 79px 10px 78px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 65px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 206px;
    margin-left: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-2 {
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 416px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -107px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 11px;
  }
}